 /*.carré {
    margin: 0 auto;
    margin-bottom: 5000px;
    width: 1000px;
    height: 350px;
    background: rgba(115, 115, 115, 0.5);
  parcours {background-color: #D7E20F;
           font-size: large ;}
.contact {background-color: #4579b4;}
.qui {background-color:#4579b4 ;
      font-size: ;}